body{
    background-color: rgba(0,55,255,0.18);
}

#header{
    margin-bottom: 100px;
}

#content{
    background-color:white;
    padding: 50px;
    border-radius:25px;
    box-shadow: 0 30px 50px rgba(0,0,0,0.2);
}

.error-summary{
    background: #e55b5b;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#search_results table th {
    width: 30%;
}

img.thumbnail {
    max-width: 100px;
    max-height: 100px;
}

.pull-right {
    float: right;
}

.summary{
    clear: both;
}

.hidden{
    display: none;
}

.inline-block{
    display: inline-block;
}